// This is partial.

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif,
        opensans, ubuntu, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #24292e;
    background-color: #fff;
    max-width: 650px;
    margin: auto;
    line-height: 1.5;
}

pre code {
    font-family:  monospace;
    font-size: small;
    padding: 0.25em;

    overflow: auto;
    max-height: 500px;
    padding: 5px;
    white-space: pre-wrap;
    word-break: keep-all;
    border: 1px dotted lightyellow;
 }

