<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Dilawar Singh" />

   <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>

<div class="site">
  <div class="title">
    <a href="/">Dilawar Singh</a>
    <small>
      <a style="margin:5px" href="/being-dilawar"><u>Being Dilawar</u>/</a>
      <a style="margin:5px" href="/tools"><u>Tools</u>/</a>
    </small>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Dilawar Singh
        <br>
        dilawar@subcom.tech
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/dilawar/">github.com/dilawar</a><br />
      </p>
    </div>
    <div class="rss">
    </div>
  </div>
</div>

<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-180197482-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>
